@font-face {
    font-family: 'Velvelyne Book';
    src: url('assets/Velvelyne-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Velvelyne Light';
    src: url('assets/Velvelyne-Light.woff2') format('woff2');
}

body{
    margin: 2%;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 18vw;
}

#titles{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-family: 'Velvelyne Book';
    font-size: 3rem;
    text-decoration: underline dashed red 5px;
}

h2{
    font-size: 2rem;
}

header p{
    margin-top: 2%;
    width: 30vw;
}

body{
    font-family: 'Velvelyne Light', monospace;
    background-color: #086ab8;
    color: white;
    font-size: 1.5em;
}

section{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 1em;
    width: 100vw;

}

img{
    border: 10px dashed red;
    object-fit: cover;
    width: 30vw;
    height: 100%;
}

#gemini ol{
    width: 30vw;
}

#other{
    flex-direction: column;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#other a{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
}

.italic{
    font-style: italic;
}